/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(235, 235, 235);
}

h1::before{
    content: url("../assets/img/Logo.png");
}

header{
    width: 100%;
    background-color: white;
    padding: 10px 20px;
}

main{
    width: 70%;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 20px;
}

button{
    border-radius: 5px;
    border: none;
    padding: 10px;
}

hr{
    margin-top: 10px;
    color: rgb(235, 235, 235);
}

.task{
    background-color: lightblue;
    color: white;
}

.section{
    color: lightgray;
    border: 1px solid lightgray;
    background-color: white;
}

.true, .false{ 
    border: 1.5px solid; 
    border-radius: 30px ;
    padding: 4px;
}

.true{
    color: green;
}

.false{
    color: red;
}

h2{
    margin-bottom: 10px;
    margin-top: 20px;
}

div{
    margin-bottom: 10px; 
    display: inline-block;
}

div::after{
    content: "";
}

h2{
    display: inline-block;
}

svg{
    size: 50px;
    margin: 2px;
}

.tag{
    color: white;
    padding: 5px; 
    border-radius: 10px;
    border: none;
    margin-left: 4px; 
}

.edit{
    background-color:lightblue;
}

.goal{
    background-color:plum; 
}

.recruiting {
    background-color:aquamarine;
}

.mob{
    background-color:lightcoral; 
}

.web{
    background-color:lightpink;
}

.sales{
    background-color:lightgreen;
}
