/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(235, 235, 235);
}

hr{
    border: rgb(235, 235, 235) solid; 
}

h1{
    
}

h1::before{
    content: url("../assets/img/Logo.png");
    position: center; 
}


header{
    width: 100%;
    background-color: white;
    padding: 10px 20px;
}

nav, main{
    width: 70%;
    margin: auto;
    background-color: white;
}
